<ion-header>
    <ion-toolbar>
      <ion-title>
        Notificações
      </ion-title>
      <ion-buttons slot="end">
        <ion-button color="secondary">
          login
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
        <ion-label>
          ABERTA CAMPANHA DE VACINAÇÃO PARA SARAMPO 2019
          <br>
          <small>A partir de segunda-feira (7), o Brasil inicia nova Campanha Nacional de Vacinação contra o Sarampo em todos os postos de saúde, com foco em dois grupos. O primeiro vai de 7 a 25 de outubro e irá imunizar crianças de 6 meses a menores de 5 anos de idade, com o dia D de vacinação no dia 19 de outubro. Já o segundo grupo, previsto para iniciar no dia 18 e novembro, será direcionado para adultos na faixa-etária de 20 a 29 anos que não estão com a caderneta de vacinação em dia.</small>
        </ion-label>
        <ion-note color="medium">
          <small>04/10/2019</small>
        </ion-note>
      </ion-item>
      <ion-item>
          <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
          <ion-label>
            ABERTA CAMPANHA DE VACINAÇÃO PARA INFLUENZA
            <br>
            <small>A Campanha Nacional de Vacinação contra a Influenza começou nesta quarta-feira (10) em todo o país. O ministro da Saúde, Luiz Henrique Mandetta, participou do lançamento oficial da Campanha em Porto Alegre (RS). A pasta pretende vacinar 58,6 milhões de pessoas, entre os dias 10 de abril e 31 de maio. Para isso, enviou aos estados 63,7 milhões de doses da vacina. Até o dia 18 de abril, serão priorizadas crianças e gestantes, grupos mais vulneráveis às complicações causadas pela influenza.</small>
          </ion-label>
          <ion-note color="medium">
            <small>20/04/2019</small>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
          <ion-label>
            VOCÊ SABIA?
            <br>
            <small>A vacina Dupla Adulto (dT) tem que ser reforçada a cada 10 anos para todos!</small>
          </ion-label>
          <ion-note color="medium">
            <small>23/11/2019</small>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
          <ion-label>
            VOCÊ SABE SE PREVINIR?
            <br>
            <small>Lavar as mãos e alimentos podem previnir diversas doenças infecciosas como Toxoplasmose,amebiase e E.coli.</small>
          </ion-label>
          <ion-note color="medium">
            <small>22/10/2019</small>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
          <ion-label>
            SEU FILHO COMPLETOU 3 MESES?
            <br>
            <small>A vacinação é um dos metodos mais eficazes para prevenção. Com 3 meses a criança deverar receber a primeira dose da Meningocócica C (conjugada).</small>
          </ion-label>
          <ion-note color="medium">
            <small>22/10/2019</small>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
          <ion-label>
            PREVINA O ADOLESCENTE!
            <br>
            <small>Adolescentes entre 9 e 14 anos devem ser vacinados para o HPV. O HPV é o maior fator de risco para câncer de colo de útero. Meninas entre 9 e 14 e meninos entre 11 e 14 anos devem ser vacinas.</small>
          </ion-label>
          <ion-note color="medium">
            <small>22/10/2019</small>
          </ion-note>
        </ion-item>
    </ion-list>
  </ion-content>