.holder {
    width: 100vw;
    .holder-ballon {
        width: 100%;
        margin: 4px 0;
        .ballon {
            position: relative;
            background-color: lightpink;
            padding: 4px 8px;
            border-radius: 8px;
            width: 100%;
            .criadoEm {
                float: right;
            }
        }
    }
    &.eu {
        margin-left: 70px;
        .holder-ballon > .ballon {
            background-color: rgb(221, 247, 255) !important;
            float: right;
            border-bottom-right-radius: 0 !important;
        }
    }
    &.susi {
        margin-right: 70px;
        .holder-ballon > .ballon {
            float: left;
            border-bottom-left-radius: 0 !important;
            .criadoEm {
                color: #f34d69 !important;
            }
        }
        .result {
            margin-top: 8px;
            padding: 3px;
            border-radius: 7px;
            background-color: #f595a7;
            img {
                border-radius: 4px;
            }
        }
    }
}