<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explorar">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="susi" color="medium">
      <ion-badge color="danger">1</ion-badge>
      <ion-icon src="assets/imgs/susi.svg" size="large"></ion-icon>
      <ion-label>
        Assistente
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-badge color="danger">7</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>
        Notificações
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>